<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
   <form>
  
  <div class="form-group">
      <label>plz enter Eth Address </label>
    <input type="text" class="form-control" placeholder="0x56456456465464456g" required #ethaddress>
  </div>
  <button (click)="getbalance(ethaddress.value)"  type="button"  class="btn btn-primary">view Balance</button>
  <br>
  <br>
  <br>
  
  <div class="form-group">
  <label>balance of provided address</label>
  <label>{{Ethbalance}}</label>
  </div>
  <div>
      <button (click)="generateAcc()" type="button" class="btn btn-primary">Create account</button>
      object is ::{{object}}
    </div>
  <div>
    Accounts are :: {{accont}}
    </div>
    <br>
    <button (click)="displayAccounts()" type="button" class="btn btn-primary">displayAccounts</button>

    <br>
    <br>
    <button (click)="sendtrans()" type="button" class="btn btn-primary">send Transaction</button>

</form>
